*{
    margin: 0;
    padding: 0;
}
html{
    font-family: "Arial";
}

.menu{
    width: 100%;
    height: 50px;
    background-color: rgb(39,64,139);
}

.menu ul{
    list-style: none;
    position: relative;
}

.menu ul li{
    width: 150px;
    float: left;
}

.menu a{
    padding: 16px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: rgb(39,64,139);
}

#ahome{
    padding-top: 4px;
    padding-bottom: 0px;
}

.menu ul li a #home{
    width: 50px;
}

#inicio{
    padding: 16px;
}

.menu ul ul{
    position: absolute;
    visibility: hidden;
}

.menu ul li:hover ul{
    visibility: visible;
}

.menu a:hover{
    background-color: rgb(0, 0, 61);
    color: rgb(255, 236, 125);
}

.menu ul ul li{
    float: none;
}

.menu ul ul li a{
    color: white;
    background-color: rgb(92, 157, 255);
}

.menu ul ul li a:hover{
    color: rgb(255, 236, 125);
}

label[for="bmenu"]{
    padding: 5px;
    padding-bottom: 10px;
    text-align: left;
    font-family: "Arial";
    font-size: 20px;
    cursor: pointer;
    height: 20px;
    display: none;
    background-color: rgb(39,64,139);
    color: white;
}

#bmenu{
    display: none;
}

#topo{
    width: 100%;

}

#divHome{
    text-align: center;
    color: rgb(88, 88, 88);
}

#h1inicio, #h2inicio{
    margin-top: 50px;
}

#textoHome{
    text-align: justify;
    font-size: 30px;
    padding: 50px;
    padding-top: 10px;
    margin: 50px;
    border-radius: 10px;
    border: solid 2px #4681ff;
}

#divHome #rodape{
    text-align: justify;
    border: solid 1px #82a9ff;
    border-radius: 10px;
    padding: 50px;
    padding-bottom: 100px;
    margin: 50px;
}

#divHome #rodape #r1, #r2{
    float: left;
    width: 45%;
    height: 45%;
}

#divHome #rodape #r2{
    float: right;
}

@media(max-width:800px){

    label[for="bmenu"]{
        display: block;
    }

    #aneis{
        visibility: visible;
        left: 45%;
        right: 55%;
        position: absolute;
        width: 50px;
    }

    #bmenu:checked ~ .menu{
        margin-left: 0;
    }
    .menu{
        margin-top: 1px;
        margin-left: -100%;
        transition: all .4s;
    }

    .menu ul li{
        width: 100%;
        float: none;
    }

    .menu ul ul{
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
    }

    .menu ul li:hover ul{
        height: auto;
        max-height: 200px;
    }

    #ahome{
        padding: 15px;
    }

    #home{
        visibility: hidden;
        position: fixed;
        left: 0px;
    }

    #inicio{
        text-align: center;
    }

    #h1inicio{
        color: rgb(51, 51, 51);
    }

    #h1inicio, #h2inicio{
        font-size: small;
        margin: 20px;
        padding: 10px;
    }

    #textoHome{
        font-size: 15px;
        margin: 20px;
        padding: 10px;
    }

    #divHome #rodape{
        padding: 10px;
        padding-bottom: 100px;
        margin: 20px;
        font-size: small;
    }
}